{% extends '@Contao/block_unsearchable' %}

{% block content %}

    {% if messages %}
        {{ messages|raw }}
    {% endif %}

    {% if form %}
        {{ form|raw }}
    {% endif %}

    {% if hasGallery %}
        <br>
        <hr>
        <br>
        <ul class="row tiny-gutter equal-height">
            {% for picture in pictures %}
                <li class="member-picture-feed-thumb col-12 col-sm-6 col-md-3 col-lg-3" data-file-id="{{ picture.data.id }}" data-src="{{ picture.data.path }}">
                    {{ picture.picture|raw }}
                    <div class="member-picture-feed-upload-time-overlay">
                        {{ picture.data.memberPictureFeedUploadTimeFormatted }}
                    </div>
                    <div class="member-picture-feed-thumb-buttons-container d-flex">
                        <button class="btn btn-danger remove-image" title="{{ 'MPFU.deleteImage'|trans({}, 'contao_default') }}"><i class="fa-regular fa-trash"></i></button>
                        <button class="btn btn-danger rotate-image" title="{{ 'MPFU.rotateImage'|trans({}, 'contao_default') }}"><i class="fa-regular fa-rotate-right"></i></button>
                        <button class="btn btn-danger add-caption" data-hascaption="{{ picture.data.hasCaption }}" title="{{ 'MPFU.addCaption'|trans({}, 'contao_default') }}"><i class="fa-regular fa-pencil"></i></button>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <!--modal -->
        <div class="modal fade member-picture-feed-caption-modal" tabindex="-1" role="dialog" aria-labelledby="ModalImageCaption" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalImageCaption">{{ 'MPFU.editCaptionAndPhotographer'|trans({}, 'contao_default') }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'MPFU.close'|trans({}, 'contao_default') }}"></button>
                    </div>
                    <div class="modal-body">
                        <figure>
                            <img class="w-100 image-full-res" alt="" src=""/>
                        </figure>
                        <br>
                        <div class="form-group">
                            <label for="imageCaptionInput">{{ 'MPFU.caption'|trans({}, 'contao_default') }}</label>
                            <input class="form-control" id="imageCaptionInput" name="image-caption" type="text" maxlength="50" placeholder="{{ 'MPFU.addCaption'|trans({}, 'contao_default') }}">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="imagePhotographerInput">{{ 'MPFU.photographer'|trans({}, 'contao_default') }}</label>
                            <input class="form-control" id="imagePhotographerInput" name="image-photographer" type="text" maxlength="30" placeholder="{{ 'MPFU.addPhotographer'|trans({}, 'contao_default') }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="saveCaptionButton" class="btn btn-primary">{{ 'MPFU.save'|trans({}, 'contao_default') }}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal -->
        {% do addJavascriptResource('bundles/markocupicmemberpicturefeed/js/gallery.min.js|static') %}
        <script{{ attrs().setIfExists('nonce', csp_nonce('script-src')) }}>
            document.addEventListener('DOMContentLoaded', () => {
                const gallery = new MemberPictureFeedUploadApp('{{ requestToken }}', '{{ page.id }}', '{{ page.language }}');
                gallery.initialize();
            });
        </script>
    {% endif %}


{% endblock %}
